<p id="notice"><%= notice %></p>

<h1>My Club</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @club.name %></td>
      <td><%= @club.address %></td>
      <% if is_admin %>
      <td><%= link_to 'Show', @club %></td>
      <td><%= link_to 'Edit', edit_club_path(@club) %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<br>
