<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @club.address %>
</p>

<% if @club.members.present? %>
	<p> Members </p>
	
	<table>
  <% @club.members.each do |member| %>
  <tbody>
    <tr>
      <td><%= member.first_name %></td>
      <td><%= member.last_name %></td>
    </tr>
  </tbody>
  <% end %>
</table>
	
<% end %>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
