<!DOCTYPE html>
<html>
<head>
  <title>Pixformance</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if session[:user_id] %>
<%= link_to 'logout', session_path(session[:user_id]), method: :delete %>
<% end %>
<%= yield %>

</body>
</html>
